body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.nav-content-container {
  display: flex;
  background-color: #1F2937;
  height: 60px;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  margin: 0;
}

.header-logo-white {
  text-decoration: none;
}

.logo-text-white {
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.site-links {
  margin: 0;
  padding: 10px;
  align-self: stretch;
  display: flex;
  align-items: stretch;
}

.nav-links-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-listitem {
  margin: 0 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 500;
  color: #E5E7EB;
}

.nav-links-list a {
  text-decoration: none;
  color: inherit;
}

.nav-listitem:hover {
  border-bottom: 1px solid #E5E7EB;
}
